#container {
    display: flex;
    flex-wrap: wrap;
}
#container > div {
    background-color: chartreuse;
    color: black;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 20px;
}
#grid {
    background-color: springgreen;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: 200px 200px auto;
}
.grid-item {
    background-color: aqua;
    font-size: 10px;
    padding: 20px;
    text-align: center;
}